@model IEnumerable<Prodaja_i_Servis_Racunarske_Opreme.Models.GrupaProizvoda>

@{
    ViewBag.Title = "Index";
}

<h2>Grupe Proizvoda</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Ajax.ActionLink("Edituj", "Edituj_GP", new { id=item.Id }, new AjaxOptions { UpdateTargetId = "AjaxDiv" }) |
            @Ajax.ActionLink("Brisasnje", "Brisanje_GP", new { id=item.Id }, new AjaxOptions { UpdateTargetId = "AjaxDiv" })
        </td>
    </tr>
}

</table>
<p>
    @Ajax.ActionLink("Nova Grupa Proizvoda", "Dodaj_GP", new AjaxOptions { UpdateTargetId = "AjaxDiv" })
</p>

<div id="AjaxDiv"></div>