@model IEnumerable<Prodaja_i_Servis_Racunarske_Opreme.Areas.Resursi.Models.ZaposlenikVM>

@{
    ViewBag.Title = "Index";
}
<style>
    body {
        background-color: transparent;
    }
</style>
<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            Ime
        </th>
        <th>
            Prezime
        </th>
        <th>
            UserName
        </th>
        <th>
            Password
        </th>
        <th>
            Pocetak Radnog Odnosa
        </th>
        <th>
            Kraj Radnog Odnosa
        </th>
        <th>
            Akcija
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PocetakRadnogOdnosa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZavrsetakRadnogOdnosa)
        </td>
        <td>
            @Ajax.ActionLink("Eituj", "Edituj_Z", new { id = item.id }, new AjaxOptions { UpdateTargetId = "AjaxDiv" }) |
            @Html.ActionLink("Brisanje", "Brisanje_Z", new { id = item.id })
        </td>
    </tr>
    }

</table>
<p>
    @Ajax.ActionLink("Novi Zaposlenik", "Dodaj_Z", new AjaxOptions { UpdateTargetId = "AjaxDiv" })
</p>

<div id="AjaxDiv"></div>