@model IEnumerable<Prodaja_i_Servis_Racunarske_Opreme.Areas.Resursi.Models.ZaposlenikVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            Ime
        </th>
        <th>
            Prezime
        </th>
        <th>
            UserName
        </th>
        <th>
            Password
        </th>
        <th>
            Pocetak Radnog Odnosa
        </th>
        <th>
            Kraj Radnog Odnosa
        </th>
        <th>
            Akcija
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PocetakRadnogOdnosa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZavrsetakRadnogOdnosa)
        </td>
        <td>
            @Html.ActionLink("Eituj", "Edituj_Z", new { id = item.id }) |
            @Html.ActionLink("Brisanje", "Brisanje_Z", new { id = item.id })
        </td>
    </tr>
    }

</table>
<p>
    @Html.ActionLink("Novi Korisnik", "Dodaj_Z")
</p>