@model Prodaja_i_Servis_Racunarske_Opreme.Areas.Resursi.Models.ArtikalVM

@{
    ViewBag.Title = "Dodavanje_A";
    Layout = null;
}
<style>
    body {
        background-color: transparent;
    }
</style>
<div id="MojInfoScr">
    <div class="modal show" role="dialog">
        <div role="dialog">
            <div class="modal-dialog" style="width: 800px;">
                <div class="modal-content">
                    <div class="modal-body">
                        <a id="Potvrda" class="btn btn-danger" style="display:inline-block; position:absolute; right:25px; top:25px">X</a>
                        @using (Ajax.BeginForm("Spasi_A", "Artikal", new AjaxOptions { UpdateTargetId = "AjaxDiv" }))
                        {
                            @Html.AntiForgeryToken()
                        <br />
                            <h2 style="text-align:center">Dodavanje Artikla</h2>

                        
                        
                                <div class="form-horizontal">
                                @Html.HiddenFor(model => Model.IdArtikla)
                                <table align="center" style="outline:dotted; outline-color:green">
                                    <tr>
                                        <td>
                                            <div class="form-group" style="text-align:center">
                                                Naziv
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.Naziv, new { htmlAttributes = new { @class = "form-control" } })
                                                    @*<br />
                                    @Html.ValidationMessageFor(model => model.Naziv, "", new { @class = "text-danger" })*@
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="text-align:center">
                                                Cijena
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.Cijena, new { htmlAttributes = new { @class = "form-control" } })
                                                    @*<br />
                                    @Html.ValidationMessageFor(model => model.Cijena, "", new { @class = "text-danger" })*@
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="text-align:center">
                                                Jedinica Mjere
                                                <div class="col-md-12">
                                                    @Html.DropDownListFor(model => model.LJMId, Model.DDLJM, new { htmlAttributes = new { @class = "form-control" } })
                                                    @*<br />
                                    @Html.ValidationMessageFor(model => model.LJMId, "", new { @class = "text-danger" })*@

                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group" style="text-align:center">
                                                Grupa Proizvoad
                                                <div class="col-md-12">
                                                    @Html.DropDownListFor(model => model.GPId, Model.DDLGP, new { htmlAttributes = new { @class = "form-control" } })
                                                    @*<br />
                                    @Html.ValidationMessageFor(model => model.GPId, "", new { @class = "text-danger" })*@
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="text-align:center">
                                                Proizvodjac
                                                <div class="col-md-12">
                                                    @Html.DropDownListFor(model => model.ProId, Model.DDLPro, new { htmlAttributes = new { @class = "form-control" } })
                                                    @*<br />
                                    @Html.ValidationMessageFor(model => model.ProId, "", new { @class = "text-danger" })*@
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr style="height:100px">
                                        <td colspan="2">
                                            <div style="color:red;">
                                                @Html.ValidationSummary()
                                            </div>
                                        </td>
                                        <td align="right" style="padding:48px 0px 0px 0px">
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="submit" value="Spasi" id="Potvrda" class="btn btn-success" style="width:125px" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#Potvrda').click(function () {
            $('#MojInfoScr').hide();
        });
    });
</script>