@model Prodaja_i_Servis_Racunarske_Opreme.Areas.Resursi.Models.ArtikalVM

@{
    ViewBag.Title = "Dodavanje_A";
    Layout = null;
}
<div id="MojInfoScr">
    <div class="modal show" role="dialog">
        <div role="dialog">
            <div class="modal-dialog" style="width: 800px;">
                <div class="modal-content">
                    <div class="modal-body">
                        @using (Ajax.BeginForm("SpasiIzmjenu_A", "Artikal", new AjaxOptions { UpdateTargetId = "AjaxDiv" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <h2 style="text-align:center">Editovanje Artikla</h2>

                                @Html.HiddenFor(model => Model.IdArtikla)
                                <table align="center" style="outline:dotted; outline-color:green">
                                    <tr>
                                        <td>
                                            <div class="form-group" style="text-align:center">
                                                Naziv
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.Naziv, new { htmlAttributes = new { @class = "form-control" } })

                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="text-align:center">
                                                Cijena
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.Cijena, new { htmlAttributes = new { @class = "form-control" } })

                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="text-align:center">
                                                Jedinica Mjere
                                                <div class="col-md-12">
                                                    @Html.DropDownListFor(model => model.LJMId, Model.DDLJM, new { htmlAttributes = new { @class = "form-control" } })

                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group" style="text-align:center">
                                                Grupa Proizvoad
                                                <div class="col-md-12">
                                                    @Html.DropDownListFor(model => model.GPId, Model.DDLGP, new { htmlAttributes = new { @class = "form-control" } })

                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="text-align:center">
                                                Proizvodjac
                                                <div class="col-md-12">
                                                    @Html.DropDownListFor(model => model.ProId, Model.DDLPro, new { htmlAttributes = new { @class = "form-control" } })

                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr style="height:100px">
                                        <td colspan="2">
                                            <div style="color:red;">
                                                @Html.ValidationSummary()
                                            </div>
                                        </td>
                                        <td align="right" style="padding:48px 0px 0px 0px">
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="submit" value="Spasi" class="btn btn-success" style="width:125px" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
