@model IEnumerable<Prodaja_i_Servis_Racunarske_Opreme.Models.Proizvodjac>

@{
    ViewBag.Title = "Index";
}
<style>
    body {
        background-color: transparent;
    }
</style>
<h2>Proizvodjaci</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Ajax.ActionLink("Edituj", "Edituj_P", new { id=item.Id }, new AjaxOptions { UpdateTargetId = "AjaxDiv" }) |
            @Ajax.ActionLink("Brisanje", "Brisanje_P", new { id=item.Id }, new AjaxOptions { UpdateTargetId = "AjaxDiv" })
        </td>
    </tr>
}

</table>
<p>
    @Ajax.ActionLink("Novi Proizvodjac", "Dodaj_P", new AjaxOptions { UpdateTargetId = "AjaxDiv" })
</p>
<div id="AjaxDiv"></div>