@model IEnumerable<Prodaja_i_Servis_Racunarske_Opreme.Areas.Resursi.Models.DobavljacVM>

@{
    ViewBag.Title = "Index";
}
<style>
    body {
        background-color: transparent;
    }
</style>
<h2>Index</h2>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            Grad
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NazivGrada)
            </td>
            <td>
                @Ajax.ActionLink("Edituj", "Edituj_D", new { id = item.IdDobavljaca }, new AjaxOptions { UpdateTargetId = "AjaxDiv" }) |
                @Ajax.ActionLink("Brisanje", "Brisanje_D", new { id = item.IdDobavljaca }, new AjaxOptions { UpdateTargetId = "AjaxDiv" })
            </td>
        </tr>
    }

</table>

<p>
    @Ajax.ActionLink("Novi Dobavljac", "Dodaj_D", new AjaxOptions { UpdateTargetId = "AjaxDiv" })
</p>

<div id="AjaxDiv"></div>